<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tela Principal</title>
</head>
<body>
    <h1 th:text="${something}"/>


    <div style="width: 800px; margin: 0 auto">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">Insert a new Functionary</h2>

        <th:block th:if="${updateFunctionary != null}">
            <form th:action="@{/functionaries/{id}(id=${updateFunctionary.id})}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Id
                    </label>
                    <input name="name" th:value="${updateFunctionary.id}" disabled class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Name
                    </label>
                    <input name="name" th:value="${updateFunctionary.name}"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Salary
                    </label>
                    <input name="salary" th:value="${updateFunctionary.salary}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Num Dep
                    </label>
                    <input name="numDep" th:value="${updateFunctionary.numDep}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>

                <div class="flex items-center justify-between">
                    <input type="submit" value="UPDATE" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"/>
                    <a href="/functionaries" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Find All</a>
                </div>

            </form>
        </th:block>

        <th:block th:if="${updateFunctionary == null}">
            <form action="insert" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Name
                    </label>
                    <input name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Name">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Salary
                    </label>
                    <input name="salary" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Salary">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Num Dep
                    </label>
                    <input name="numDep" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Number of dependents">
                </div>

                <div class="flex items-center justify-between">
                    <input type="submit" value="INSERT" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"/>
                    <a href="/functionaries" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Find All</a>
                </div>
            </form>

        </th:block>

    </div>

    <th:block th:if="${savedFunctionary != null}">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600" style="text-align: center"
                th:text="'New Functionary added with id: ' + ${savedFunctionary.id}"/>
    </th:block>

    <div style="width: 800px; margin: 0 auto">
        <th:block th:if="${functionaries != null}">
            <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">List of our functionaries</h2>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            NAME
                        </th>
                        <th scope="col" class="px-6 py-3">
                            SALARY
                        </th>
                        <th scope="col" class="px-6 py-3">
                            NUM DEP
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="func : ${functionaries}">
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                <p th:text="${func.id}"></p>
                            </th>
                            <td class="px-6 py-2">
                                <p th:text="${func.name}"></p>
                            </td>
                            <td class="px-6 py-2">
                                <p th:text="${func.salary}"></p>

                            </td>
                            <td class="px-6 py-2">
                                <p th:text="${func.numDep}"></p>
                            </td>
                            <td class="px-6 py-2 text-right">
                                <a th:href="@{/functionaries/update/{id}(id=${func.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                            <td class="px-6 py-2 text-right">
                                <a th:href="@{/functionaries/delete/{id}(id=${func.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </th:block>
    </div>

</body>
</html>